*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(100deg, black, white);
    height: 100vh;
    
}
.h1 {

    font-family: 'Arial', sans-serif;


}

.header a {
    color: black;
}




.texto p {

    font-size: 25px;
}
.content {font-size: 20px;

    max-width: 40%;